{% include 'base.html' with id=id  valid=True only%}
{% block content %}
<div class="container back">
        <div class="user_header">
            <img class="display_pictures" src="{{userform.profile.avatar.url}}" />
            <div class="user_data">
                <div class="container-fluid">
                    <strong><p>{{userform.username}}</p></strong>
                    <p style="float:right">
                    {% if userform.id == id %}
                        <a href="{% url 'users:update' pk=id %}">
                            <button class="btn btn-primary">Update</button>
                        </a>
                    {% elif connected %}
                        <a href="{% url 'users:unfollow' pk=userform.id %}">
                            <button class="btn btn-primary">Unfollow</button>
                        </a>
                    {% else  %}
                        <a href="{% url 'users:follow' pk=id %}">
                            <button class="btn btn-primary">follow</button>
                        </a>
                    {% endif %}
                    </p>
                </div>
                <div class="site_details">
                    <p><strong>{{ userform.post_count }}</strong> Posts </p>
                    <p> <strong>{{ userform.followers }}</strong> <a href="{% url 'users:followers' pk=userform.id %}"> Followers </a> </p>
                    <p> <strong>{{ userform.following }}</strong> <a href="{% url 'users:following' pk=userform.id %}">Following</a></p>
                </div>
                <div>
                    <p>{{userform.profile.bio}}</p>
                    <a href="http://{{userform.profile.website}}">{{userform.profile.website}}</a>
                </div>
            </div>
        </div>
        <div class="container-fluid posts" >
            {% for post in userform.posts %}
                <a href="{% url 'posts:view' pk=userform.id slug=post.id%}">
                <div class="post_container">
                    <img src="{{post.file.url}}" >
                </div>
                </a>
           {% endfor %}
        </div>
    </div>
{% endblock %}
